<div>distinctUntilChanged</div>
<br />
<div *ngFor="let i of result">
  <span> {{ i }} </span>
</div>
<br />
<br />

<div class="examples">
  <div (click)="mm()">mergeMap</div>
  <br />
  <div (click)="sm()">switchMap</div>
  <br />
</div>

<br />
<br />

<div *ngFor="let c of comb">
  <span>{{ c }} </span>
</div>

<form>
  <mat-form-field>
    <input
      type="text"
      placeholder="Country"
      matInput
      [formControl]="countryControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredVaules | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
